.register-container{
    width: 650px;
    margin: 0 auto;
    border: 1px solid lightblue;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.input-field{
    margin-bottom: 20px;
}
.input-field label{
    display: block;
    margin: 5px;
}
.input-field input{
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 24px;
}